<!DOCTYPE html>
<html>
    <head>
        <title>
            this is python login page
        </title>
        <link href="{{url_for('static', filename ='css.css')}}" rel="stylesheet" type="text/css">
        <script src="js.js" type="text/javascript"></script> 
    </head>
    <body>
        <form action="{{url_for('login')}}", method="post">
            <table id="table">
                <tr id ="tr">
                    <td>Enter your name:</td>
                    <td><input type="text" name="name" placeholder="Enter a name"></td>
                </tr>
                <tr id ="tr">
                    <td>Enter your password:</td>
                    <td><input type="password" name="password" placeholder="Password"></td>
                </tr>
                <tr id ="tr">
                    <td>Submit</td>
                    <td><button>login</button></td>
                </tr>
            </table>
        </form>

    </body>
</html>
